body
{
  font-family: Open Sans;
}

div
{
  box-sizing: border-box;
}

.container
{
    padding: 30px 40px 30px 40px;

    &.gray
    {
      background-color: #F5F5F5;
    }
}

.btn
{
  border-radius: 2px;
  height: 30px; 
  border: 1px solid transparent;
  padding: 0 10px; 
  display: inline-block;
  white-space: nowrap;
  color: #fff;

  &.btn-blue
  {
    background-color: #6699ff; 
  }

  &.inline
  {
    margin-right: 15px;
  }
}

#main
{
    width: 500px;
    min-width: 500px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    resize: horizontal;
    overflow: auto;
    border: 1px solid #eaeaea;

    .title
    {
      height: 20px;
      line-height: 20px;
      margin-bottom: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .buttons
    {
      padding-top: 30px;
      padding-left: 40px;
    }
}

@media (max-width: 500px)
{
  #main
  {
    width: 100%;
    min-width: 100%;
  }
}